.header{
    display: flex;
    justify-content: center;
}

@keyframes NavWidth {
    from {
        width: 70vw;
    }
    to {
        width: 95vw;
    }
}

.homeNav{
    background: rgba(100, 247, 58, 0.72);
        border-radius: 0px 0px 20px 20px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 1px solid rgba(100, 247, 58, 0.3);
    
        width: 95vw;
        height: 15vh;
    
        display: flex;
        justify-content: space-around;
        align-items: center;

        animation-name: NavWidth;
            animation-duration: 2s;
}

.homeNav>a {
color: black;

    font-size: 30px;
    text-decoration: none;

    background: rgba(36, 255, 0, 0.63);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.1px);
    -webkit-backdrop-filter: blur(11.1px);
    /* border: 12px solid rgba(10, 78, 0, 0.69); */

    padding: 20px 60px;
    margin: 20px;

}

.homeNav>a:hover {
    font-size: 30px;
    text-decoration: none;

    background: rgb(114, 255, 93);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.1px);
    -webkit-backdrop-filter: blur(11.1px);
    border: 1px solid rgba(36, 255, 0, 0.69);

    padding: 20px 60px;
    margin: 20px
}

.dummyHome{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin: 40px;
    gap: 20px;

    font-size: 30px;
}

.dummyHome>img{
    height: 50vh;
}